<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tapits.axismerchantservices"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <permission
        android:name="com.tapits.axismerchantservices.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.tapits.axismerchantservices.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.tapits.axismerchantservices.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.tapits.axismerchantservices.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".SplashScreen"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="sensorPortrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tapits.axismerchantservices.HomeScreen"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="sensorPortrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.tapits.axismerchantservices.BasicInfoScreen"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="sensorPortrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.tapits.axismerchantservices.OfflineScreen"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="sensorPortrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.tapits.axismerchantservices.OwnerShipFormScreen"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="sensorPortrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.tapits.axismerchantservices.OnlinePoSScreen"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="sensorPortrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.tapits.axismerchantservices.OfflinePoSScreen"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="sensorPortrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.tapits.axismerchantservices.SettlementScreen"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="sensorPortrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.tapits.axismerchantservices.DeclarationScreen"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="sensorPortrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.tapits.axismerchantservices.VerificationScreen"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="sensorPortrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.tapits.axismerchantservices.StatusScreen"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="sensorPortrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.tapits.axismerchantservices.AggregatorScreen"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="sensorPortrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>

        <service android:name=".GCMIntentService" >
        </service>
        <service android:name="com.tapits.axismerchantservices.DevRegService" >
        </service>

        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.tapits.axismerchantservices" />
            </intent-filter>
        </receiver>
    </application>

</manifest>